{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock %} {% block body %}
<a href="{{ path('create_article') }}">Créer un article</a>
<nav class="navbar navbar-light bg-light">
    <form method="get" action="{{ " app_home " }}" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
{% for article in articles %}
<h1>{{article.name}}</h1>
<h4>{{article.createdAt|format_datetime()}}</h4>
{% endfor %} {#
<div class="paginer">
    {{ knp_pagination_render(articles) }}
</div> #} {% endblock %}